<ion-header>
    <ion-navbar hideBackButton>
        <ion-title>用户登录</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)" novalidate>
        <ion-item [class.error]="!mobile.valid && mobile.touched">
            <ion-label>用户名：</ion-label>
            <ion-input type="tel" placeholder="请输入用户名" text-right value="" [formControl]="mobile" clearInput=true></ion-input>
        </ion-item>
        <div *ngIf="mobile.hasError('required') && mobile.touched" class="error-message">* 请输入用户名</div>
        <div *ngIf="(mobile.hasError('minlength')||mobile.hasError('maxlength')||mobile.hasError('pattern')) && mobile.touched" class="error-message">* 请输入正确的电话号码</div>
        <ion-item>
            <ion-label>密 码：</ion-label>
            <ion-input type="password" placeholder="请输入密码" value="" [formControl]="password" text-right clearInput=true></ion-input>
        </ion-item>
        <div *ngIf="password.hasError('required') && password.touched" class="error-message">* 请输入密码</div>
        <div *ngIf="(password.hasError('minlength')) && password.touched" class="error-message">* 密码长度最少为六位</div>
        <button ion-button block  type="primary" [disabled]="!loginForm.valid">登录</button>
    </form>
    <div padding text-center>
        <button ion-button color="primary" outline (click)="pushRegisterPage()">没有账号？注册</button>
    </div>
</ion-content>