page-message {
  .scroll-content {
    background: rgb(242, 242, 242);
  }
  .chat-list {
    margin: 0px;
    padding: 0px;
    .left {
      color: #000;
      border-radius: 0px 10px 0px 10px;
      background-color: #fff;
      float: left;
      clear: both;
      text-align: left;
    }
    .left:before {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border: 5px solid;
      border-color: transparent;
      border-right-color: #fff;
      border-top-color: #fff;
      left: -10px;
      top: 0px;
    }
    .right {
      text-align: left;
      clear: both;
      float: right;
      border-radius: 10px 0px 10px 0px;
      background-image: -webkit-linear-gradient(to top left, rgb(239, 130, 0), rgb(252, 191, 6));
      background-image: linear-gradient(to top left, rgb(239, 130, 0), rgb(252, 191, 6));
    }
    .right:before {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border: 5px solid;
      border-color: transparent;
      border-left-color: rgb(245, 158, 2);
      border-top-color: rgb(245, 158, 2);
      right: -10px;
      top: 0px;
    }
    .time {
      float: left;
      width: 100%;
      text-align: center;
      max-width: 100%;
      span {
        background-color: rgba(0, 0, 0, 0.2);
        display: inline-block;
        text-align: center;
        border-radius: 9px;
        font-size: 10px;
        margin: auto;
        padding: 2px 5px;
      }
    }
  }
  .chat-list li {
    display: inline-block;
    position: relative;
    padding: 10px;
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-family: 微软雅黑;
    margin: 20px;
    max-width: 50%;
    margin-bottom: 0px;
  }
  .scroll-content {
    padding-bottom: 30px;
    margin-top: 44px;
    margin-bottom: 70px;
  }
  .bar-button-default-ios {
    width: initial !important;
  }
  .footer {
    .toolbar-background {
      background-image: initial !important;
      background: white !important;
      border-top: 1px solid #3e3e3e;
    }
    .input-container {
      display: flex;
      background-color: #F2F2F2;
      align-items: center;
      border-radius: 100px;
      padding: 0px 15px;
      margin: 2px 0px 2px 10px;
      img {
        width: 16px;
        height: 16px;
        margin-right: 10px;
      }
    }
    .button-inner {
      color: #1a0c03;
    }
    .send-button {
      font-size: 15px;
      background: #F49902;
      .button-inner {
        color: #fff !important;
      }
    }
  }
  .toolbar-content {
    margin-top: 2px;
    margin-bottom: 2px;
  }
  .text-input{
    margin-top: 11px;
    margin-bottom: 11px;
    line-height: 20px;
  }
}
