page-image-check {
    ion-content {
        background-color:black !important;
    }
    .toolbar-background {
        background-image: none;
        background-color: black;
    }
    .toolbar-title-ios,
    .toolbar-title-md {
        color: white;
    }
    .header-ios .toolbar-background-ios,
	.header-md .toolbar-background-md {
		border-style: none !important;
	}

    .slides-box {
        width: 100%;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
        }
    }
    
    .footer-toolbar {
        width: 100%;
        height: 64px;
        display: flex;
        justify-content: space-between;
    }
    .footer-toolbar > button:last-child {
        color: white;
    }

    .swiper-container > div:last-child {
        display: none;
    }
}
